@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-bgcolor:rgb(198, 228, 214);
}
*{
    box-sizing: border-box;

}

body{
    background-color: #F9F9F8;	
}

main{
    width: 1100px;
    margin: auto;
   padding-bottom: 70px;
}

/* nav bar design */
header{
    width: 1100px;
    margin: auto;
}

header nav {
    display:  flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

header nav button {
    padding: 12.9px 25.8px 12.9px 25.8px;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 6.88px;
    background-color: white;

    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 15.48px;
    font-weight: 600;
}

header nav button:hover{
    background-color: rgb(0, 106, 80);
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}
header img{
    width: 400px;
}

/* hero section */

.hero{
    background-color: var(--primary-bgcolor);
    display: flex;
    justify-content: space-between;
    padding: 68.8px 60px 68.8px 60px;
    border-radius: 15px;
    margin-top: 24px;
}

header .hero h4{
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 20.64px;
    font-weight: 500;
    margin-bottom: -20px;
}

header .hero h1{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 48.16px;
    font-weight: 700;
    line-height: 57px;

}

header .hero div{
    width: 534.92px;
    height: 280.34px;
   
}

/* vesion */

.vision .card-container{
    display: flex;
    justify-content: space-between;

}

.vision .card-container .card{
   border-radius: 6px;
   width: 353.17px;
   padding: 27.52px;
   box-sizing: border-box;
   
}

.vision .card-container .card1{
    background-color: rgba(84, 144, 245, 0.2);
}

.vision .card-container .card2{
    background-color: rgb(198, 228, 214);

}
.vision .card1 button{
   
    background-color: rgb(84, 144, 245);
}
.vision .card3 button{   
    background-color: rgb(255, 194, 57);
}
.vision .card2 button{
    background-color: rgb(9, 161, 92);
    margin-top: 20px;
}


.vision .card-container .card3{
    background-color: rgb(247, 235, 207);
}

/* comma */

.comma{
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: 20.24px 30.28px ;
    padding: 41.28px 20.24px 41.28px 20.24px;
    background-color: white;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 14px;
    margin-top: 40px;
}

.comma .designation{
    color: rgba(14, 14, 14, 0.6);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: -17px;

}

.news .satelite{
    width: 350.88px;  
    height: 263.16px;
    object-fit: cover;
    border-radius: 20px;

}

.news .container1{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
    gap: 25px;
    padding: 38.4px;
    background-color: white;
    border-radius: 20px;
}

.news .container1 h1{
    margin-top: -1px;
}

/* Donate Section */

.donate{

    text-align: center;
    padding: 47px;
}

.donate .btn-container{
    display:flex;
    justify-content: space-between;
    padding: 0 15px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.donate .btn-container .donate-btn{
   padding: 34.4px;
   border: 1px solid rgba(14, 14, 14, 0.15);
   border-radius: 16px;
   background: rgb(255, 255, 255);
   cursor: pointer;
}

.donate .donate-btn:nth-child(2){
    background-color: var(--primary-bgcolor);
}

.donate .donate-btn:hover{
    background-color:springgreen;

}

.donate input{
    width: 910px;
    height: 55.04px;
    padding: 10px;
    border-radius: 6px;
    margin-top: 20px;
    text-align: center;
    outline: none;

    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 17.2px;
    font-weight: 400;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
}

/* News letter section */



.newsletter{
    text-align: center;
    background-color: rgb(198, 228, 214);
    height: 339.7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20.64px;
}

.newsletter input{
    width: 516px;
    height: 47.3px;
    background-color: white;
    border: none;
    padding: 15px 35px 15px 35px;
    outline: none;
}

.newsletter .input-box button{
    border-radius: 0px 8px 8px 0px;
    padding: 14.62px 29.24px 14.62px 29.24px;
    background: rgb(0, 106, 80);
    border: none;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 15.48px;
    font-weight: 600;
    cursor: pointer;
}

.newsletter button:hover{
    background-color:#00529B;
    transform: scale(1.05);
    transition:  0.05s linear;
}
.newsletter .input-box{
    display: flex;

}

/* footer section */
footer{
    height: 226px;
    background-color: white;
}

footer .footer{
    text-align: center;
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

footer .footer .social{
    display: flex;
    gap: 15px;
    justify-content: center;
    width: 964.92px;
    border-top: 1px solid rgba(14, 14, 14, 0.1);
    padding-top: 35px;
}
