@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-bgcolor:rgb(198, 228, 214);
}

/* Common styles */

.para1{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 13.8px;
    font-weight: 400;
    line-height: 20.63px;
    letter-spacing: 0%;
}

.para2{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 13.76px;
    font-weight: 600;
}
/* 40 */
.h1{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 34.4px;
    font-weight: 700;
    line-height: 41px;
}
/* 32 */
.h2{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 27.52px;
    font-weight: 700;
    line-height: 32.68px;
}

/* 20px */
.h3{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 17.2px;     
    font-weight: 700;
    line-height: 20.64px;
}

.btn-primary{
    padding: 11.18px 22.36px 11.18px 22.36px;
    border-radius: 6.88px;
    background: rgb(0, 106, 80);

    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 15.48px;
    font-weight: 600;
}

.btn-secondary {
    border-radius: 6.88px;
    background: rgb(9, 161, 92);
    padding: 9.46px 17.2px 9.46px 17.2px;
}